.idea/
./CodingCompetencyTest/bin
./CodingCompetencyTest/obj
./Formulatrix/bin
./Formulatrix/obj
./ObjectOrientedTest/bin
./ObjectOrientedTest/obj
./SoftwareComprehensionTest/bin
./SoftwareComprehensionTest/obj